//   设置基本颜色值
$baseColor : #000; //@error
$nav-bgc : #fff !default; //顶部nav背景颜色
$nav-color : #000 !default; //顶部nav字体颜色
$font-color: #fff; //
$button-color : #1890ff !default; // 按钮颜色
$button-border-color : #1890ff !default; // 按钮边框颜色
$left-menu-bgc : #011528 !default; // 左侧菜单栏背景颜色
$left-font-color : #fff !default; //左侧菜单栏文字颜色
$content-bgc: #F0F0F0 !default; //主题内容区背景颜色
$logo-color-bgc : #001529 !default; // logo背景颜色
$test-color: #000 !default; //默认测试颜色 